<!DOCTYPE html>
<head>
  <title>HUB</title>
</head>
<body>
<script type="text/javascript" src="/javascript/p.min.js"></script>
  <script>
    CrossStorageHub.init([
        {origin: /.*/, allow: ['get', 'set', 'del']}
    ]);
  </script>
</body>
</html>